# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [1]:
# Your code here
import sqlite3
import pandas as pd

In [16]:
con= sqlite3.connect('lego.db')
cur= con.cursor()
a= cur.execute(''' select name from sqlite_master where type= 'table' order by name ''').fetchall()

In [ ]:
len(str(a[0]))

In [23]:
import re

In [30]:
words= " ".join(re.findall("[a-zA-Z]+", str(a[0])))
words

'product details'

In [36]:
cur.execute('select * from ', words)

OperationalError: incomplete input

In [15]:
df1 = pd.DataFrame(cur.fetchall())
df1.columns = [i[0] for i in cur.description]
df1.head()

,prod_id,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,180.0,4.0,Very Easy,4.8,4.6
1,2304,15.0,4.4,Easy,4.0,3.3
2,7280,85.0,4.1,Very Easy,3.5,2.3
3,7281,40.0,4.1,Very Easy,3.9,2.8
4,7499,89.0,2.9,Easy,2.5,2.2

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!